*.beam
*.version
*~
.DS_Store
.bin
.eunit
db
deps
dev
doc
ebin
erl_crash.dump
metricdb.xml
metricdb_template.xml
manifest
rel/metricfe
rel/pkg/*.tgz
rel/pkg/build-info
rel/pkg/packlist
.eqc-info
*.eqc
apps/metric_frontend/include/metric_frontend_version.hrl
