rel/pkg/deploy/dalmatinerfe
*.beam
*.version
*~
.DS_Store
.bin
.eunit
db
deps
dev
doc
ebin
erl_crash.dump
dalmatinerdb.xml
dalmatinerdb_template.xml
manifest
rel/dalmatinerfe
rel/pkg/*.tgz
rel/pkg/build-info
rel/pkg/packlist
rel/deb/*.deb
.eqc-info
*.eqc
apps/dalmatiner_frontend/include/dalmatiner_frontend_version.hrl
_build
TEST-*
rebar3.crashdump
apps/dalmatiner_frontend/src/event_query_lexer.xrl
apps/dalmatiner_frontend/src/event_query_parser.yrl
compile_commands.json
