% -*- erlang -*-
{sub_dirs, ["rel", "apps/dalmatiner_frontend"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "2.0.*",{git, "https://github.com/basho/lager.git", {tag,"2.0.3"}}},
  {webmachine, ".*", {git, "https://github.com/basho/webmachine.git", {tag, "1.10.3"}}},
  {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "505400716dbc76ec9387d9d4335819b3bdcff9b2"}}},
  {ranch, "0.10.*", {git, "https://github.com/extend/ranch.git", {tag, "0.10.0"}}},
  {cowboy, "0.10.*", {git, "https://github.com/extend/cowboy.git", {tag, "0.10.0"}}},
  {mmath, ".*", {git, "https://github.com/DalmatinerDB/mmath.git", {branch, "master"}}},
  {dproto, ".*", {git, "https://github.com/DalmatinerDB/dproto.git", {branch, "master"}}},
  {jsx, "2.0.*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.0.4"}}},
  {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", {tag, "0.3.2"}}},
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.2.1"}}}
 ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
