% -*- erlang -*-
{sub_dirs, ["rel", "apps/*"]}.
{lib_dirs, ["apps"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "2.0.*",{git, "https://github.com/basho/lager.git", {tag,"2.0.3"}}},
  {cuttlefish, "2.*", {git, "https://github.com/basho/cuttlefish.git", {tag, "2.0"}}},
  {ranch, "1.0.*", {git, "https://github.com/extend/ranch.git", {tag, "1.0.0"}}},
  {cowboy, "1.0.*", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.0"}}},
  {jsx, "2.0.*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.0.4"}}},
  {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", {tag, "0.3.2"}}},
  {fifo_utils, "0.1.*", {git, "https://github.com/project-fifo/fifo_utils.git", {tag, "0.1.6"}}},
  {mmath, "0.1.*", {git, "https://github.com/DalmatinerDB/mmath.git", {tag, "0.1.2"}}},
  {dqe, "0.1.*", {git, "git://github.com/dalmatinerdb/dqe.git", {tag, "0.1.2"}}}
 ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, % exports_not_used, that is a problem with having multiple apps
               deprecated_function_calls, deprecated_functions]}.
