[Unit]
Description=DalmatinerFE Frontend
After=network.target

[Service]
User=dalmatinerfe
Group=dalmatinerfe
ExecStart=/usr/lib/dfe/bin/dalmatinerfe console -noinput +Bd

[Install]
WantedBy=multi-user.target

