[{lager,
     [{error_logger_hwm,100},
      {crash_log_count,5},
      {crash_log_date,"$D0"},
      {crash_log_size,10485760},
      {crash_log_msg_size,65536},
      {crash_log,"/data/dalmatinerfe/log/crash.log"},
      {handlers,
          [{lager_file_backend,
               [{file,"/data/dalmatinerfe/log/console.log"},
                {level,info},
                {size,10485760},
                {date,"$D0"},
                {count,5}]},
           {lager_file_backend,
               [{file,"/data/dalmatinerfe/log/error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {count,5}]},
           {lager_file_backend,
               [{file,"/data/dalmatinerfe/log/debug.log"},
                {level,debug},
                {size,10485760},
                {date,"$D0"},
                {count,5}]}]},
      {error_logger_redirect,true}]},
 {dqe_idx_pg,
     [{password,"ddb"},
      {username,"ddb"},
      {database,"metric_metadata"},
      {max_overflow,0},
      {size,20},
      {server,{"192.168.1.47",5432}}]},
 {dqe_idx,[{lookup_module,dqe_idx_pg}]},
 {dqe,[{get_chunk,100000}]},
 {ddb_connection,
     [{max_read,1209600}, {pool_max,10},{pool_size,10},{backend,{"192.168.1.44",5555}}]},
 {dalmatiner_frontend,[{http_listeners,100},{http_port,8080}]},
 {sasl,[{sasl_error_logger,false}]}].
