{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "dalmatinerfe", "1.1.0",
        [
         kernel,
         stdlib,
         sasl,
         dalmatiner_frontend
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "dalmatinerfe"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, dalmatiner_frontend, [{incl_cond, include}]}
      ]}.

{target_dir, "dalmatinerfe"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "etc"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/dalmatinerfe", "bin/dalmatinerfe"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {copy, "../share", "share"},
           {copy, "../deps/fifo_utils/priv/update_config.sh", "share/"},
           {template, "../schema/dalmatinerfe.schema", "share/schema/00-dalmatiner_frontend.schema"},
           {template, "../deps/dqe/priv/dqe.schema", "share/schema/01-dqe.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/02-vm.schema"},
           {template, "../schema/lager.schema", "share/schema/03-lager.schema"}
%           {template, "../schema/snmp.schema", "share/schema/04-snmp.schema"},
%           {copy, "../snmp", "snmp"}
           ]}.
