%%
%% etc/app.config
%%
{log_path,              "/var/log/dfe"}.
{db_path,               "/var/lib/dfe"}.

%%
%% etc/vm.args
%%
{run_user,              "dalmatiner"}.
{run_user_home,         "/var/lib/dfe"}.
{crash_dump,            "/var/log/dfe"}.

{platform_etc_dir,      "/etc/dfe"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/var/lib/dfe"}.
{platform_lib_dir,      "/usr/lib/dfe/lib"}.
{platform_log_dir,      "/var/log/dfe"}.
